<input type="hidden" name="menu[related_menus_attributes][<%= uid %>][id]" value="<%= related_menu.id %>">
<input type="hidden" name="menu[related_menus_attributes][<%= uid %>][menu_id]" value="<%= related_menu.menu_id %>">
<input type="hidden" name="menu[related_menus_attributes][<%= uid %>][_destroy]" value="">
<td><%= related_menu.menu.name %></td>
<td class="text-right"><%= erp_form_control('addableform_remove_button', {is_nested_form: true}) %></td>