<%= form_for([erp_menus, :backend, menu], html: {multipart: true}) do |f| %>
    <div class="form-body">        
        <div class="row">
            <div class="col-md-6">
                <div class="portlet light bordered">
                    <div class="portlet-body form">
                        <div class="row">                            
                            <div class="col-md-6">
                                <h4 class="text-center">Icon cho menu (25x25)</h4>
                                <%= erp_form_control('image', {img_src: menu.menu_icon, name: 'menu[menu_icon]', width: 100, height: 100}) %>
                            </div>
                            <div class="col-md-6">
                                <h4 class="text-center">Hình ảnh cho menu</h4>
                                <%= erp_form_control('image', {img_src: menu.image_menu, name: 'menu[image_menu]', width: 100, height: 100}) %>
                            </div>
                        </div>
                        <%= erp_form_control('text', {
                            name: 'menu[image_menu_title]',
                            value: menu.image_menu_title,                   
                            label: 'Title hình ảnh',
                            placeholder: 'Nhập tiêu đề cho hình ảnh menu...'
                        }) %>
                        <%= erp_form_control('text', {
                            name: 'menu[image_menu_link]',
                            value: menu.image_menu_link,                   
                            label: 'Link hình ảnh',
                            placeholder: 'Nhập liên kết cho hình ảnh menu...'
                        }) %>
                        <%= erp_form_control('text', {
                            name: 'menu[name]',
                            value: menu.get_name,                   
                            label: 'Tên menu',
                            placeholder: 'Nhập tên menu...',
                            required: true,
                            errors: menu.errors.full_messages_for(:name)
                        }) %>
                        <%= erp_form_control('text', {
                            name: 'menu[short_name]',
                            value: menu.get_short_name,                   
                            label: 'Tên menu rút gọn',
                            placeholder: 'Nhập tên menu rút gọn...',
                        }) %>
                        <% if menu.custom_title.present? %>
                            <%= erp_form_control('text', {
                                name: 'menu[custom_title]',
                                value: menu.get_custom_title,
                                label: 'Tùy chỉnh Title (' + menu.custom_title.length.to_s + ' ký tự)',
                                placeholder: 'Nhập tùy chỉnh title...'
                            }) %>
                        <% else %>
                            <%= erp_form_control('text', {
                                name: 'menu[custom_title]',
                                value: menu.get_custom_title,
                                label: 'Tùy chỉnh Title',
                                placeholder: 'Nhập tùy chỉnh title...'
                            }) %>
                        <% end %>
                        <%= erp_form_control('text', {
                            name: 'menu[custom_alias]',
                            value: menu.get_custom_alias,                   
                            label: 'Tùy chỉnh Alias',
                            placeholder: 'Nhập tùy chỉnh alias...'
                        }) %>
                        <%= erp_form_control('dataselect', {
                            name: 'menu[parent_id]',
                            value: menu.parent_id,
                            text: menu.get_parent_name,
                            placeholder: 'Chọn menu cha phù hợp...',
                            label: 'Menu cha',
                            url: erp_menus.dataselect_backend_menus_path(format: 'json')
                        }) %>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="portlet light bordered">
                    <div class="portlet-body form">
                        <%= erp_form_control('dataselect', {
                            name: 'menu[brand_id]',
                            value: menu.brand_id,
                            text: menu.get_brand_name,
                            placeholder: 'Chọn thương hiệu sản phẩm phù hợp',
                            label: 'Thương hiệu sản phẩm',
                            url: erp_products.dataselect_backend_brands_path(format: 'json')
                        }) %>
                        <%= erp_form_control('textarea', {
                            name: 'menu[meta_description]',
                            value: menu.meta_description,                   
                            label: 'SEO Description',
                            placeholder: 'Nhập seo description...'
                        }) %>
                        <div class="row">
                            <div class="col-md-6">
                                <%= erp_form_control('checkbox', {
                                    name: 'menu[style_show]',
                                    id: 'menu_style_show',
                                    value: menu.style_show,
                                    not_selected_value: 'false',
                                    label: 'Hiển thị dạng ngang',
                                    options: [{value: 'true', text: 'Lựa chọn'}]
                                }) %>
                            </div>
                            <div class="col-md-6">
                                <%= erp_form_control('checkbox', {
                                    name: 'menu[use_filter]',
                                    id: 'menu_use_filter',
                                    value: menu.use_filter,
                                    not_selected_value: 'false',
                                    label: 'Lọc theo thuộc tính',
                                    options: [{value: 'true', text: 'Lựa chọn'}]
                                }) %>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <%= erp_form_control('checkbox', {
                                    name: 'menu[is_redirect]',
                                    id: 'menu_is_redirect',
                                    value: menu.is_redirect,
                                    not_selected_value: 'false',
                                    label: 'Chuyển hướng menu',
                                    options: [{value: 'true', text: 'Lựa chọn'}]
                                }) %>
                            </div>
                            <div class="col-md-6">
                                <%= erp_form_control('checkbox', {
                                    name: 'menu[not_create_link]',
                                    id: 'menu_not_create_link',
                                    value: menu.not_create_link,
                                    not_selected_value: 'false',
                                    label: 'Không tạo link',
                                    options: [{value: 'true', text: 'Lựa chọn'}]
                                }) %>
                            </div>
                        </div>
                        <%= erp_form_control('dataselect', {
                            name: 'menu[redirect_id]',
                            value: menu.redirect_id,
                            text: menu.get_redirect_name,
                            placeholder: 'Chọn menu chuyển hướng phù hợp',
                            label: 'Menu chuyển hướng',
                            url: erp_menus.dataselect_backend_menus_path(format: 'json')
                        }) %>
                    </div>
                </div>
            </div>
        </div>
        <div class="portlet light bordered">
            <div class="portlet-body form">
                <%= erp_form_control('dataselect',{
                    name: 'menu[properties_value_ids][]',
                    values: (menu.properties_values.map {|properties_value| {text: (properties_value.property.nil? ? '' : "#{properties_value.property.get_property_group_name} / " + "#{properties_value.get_property_name} / ") + properties_value.get_value, value: properties_value.id}}),
                    multiple: true,
                    label: 'Thuộc tính sản phẩm',
                    placeholder: 'Lựa chọn thuộc tính sản phẩm phù hợp',
                    url: erp_products.dataselect_for_menu_backend_properties_values_path(format: 'json')
                }) %>
                <%= erp_form_control('dataselect',{
                    name: 'menu[category_ids][]',
                    values: (menu.categories.map {|category| {text: category.get_full_name, value: category.id}}),
                    multiple: true,
                    label: 'Chuyên mục sản phẩm',
                    placeholder: 'Chọn chuyên mục sản phẩm phù hợp',
                    url: erp_products.dataselect_backend_categories_path(format: 'json'),
                }) %>
                <%= erp_form_control('editor', {
                    name: 'menu[description]',
                    value: menu.description,                   
                    label: 'Nội dung'
                }) %>
            </div>
        </div>
    </div>
    <%= erp_component('button/save', {text: 'LƯU THÔNG TIN'}) %><%= erp_component('button/cancel', {text: 'HỦY LƯU THÔNG TIN', href: erp_menus.backend_menus_path}) %>
<% end %>