<% content_for :title do %>Cập Nhật Menu Website: <%= @menu.get_name %><% end %>
<% content_for :page_title do %><a href="<%= erp_menus.backend_menus_path %>"><i class="fa fa-th-list"></i> Danh Sách Menu Website</a> / Cập Nhật: <%= @menu.get_name %><% end %>
<% content_for :page_toolbar do %><%= erp_component('button/create', {text: 'Tạo menu mới', href: erp_menus.new_backend_menu_path, class: 'btn-noborder'}) %><% end %>
<div class="row"><div class="col-md-12"><% if @menu.errors.any? %><%= erp_form_control('form_error_message') %><% end %><%= render 'form', menu: @menu %></div></div>